
.custom-header {
  color: #00379a; /* Change the color value as needed */
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
}


.Snaplogic-logo {
  width: 200px;
  height: auto;
  margin-top: 10px;
}

/* Dark mode styles */
.dark {
  background-color: #222;
  color: #fff;
}

.dark .Snaplogic-logo {
  filter: invert(1);
}

.dark .theme-toggle-container {
  margin-bottom: 20px;
}

.dark .theme-toggle-button {
  background-color: #444;
  color: #fff;
}
